name: Update GitOps Repository

on:
  workflow_call:
    inputs: # expected inputs to the workflow of tag and image name. 
      tag:
        required: true
        type: string
        description: "The tag name of the release"
      image:
        required: true
        type: string
        description: "The image being updated"
        # Secrets we expecting to get. The workflow will fail if we dont get the secrets.
    secrets:
      GITOPS_DEPLOY_KEY:
        required: true
        description: "Deploy key for GitOps repository"
      DEVOPS_STUDY_APP_1:
        required: true
        description: "PAT GitOps repository"

jobs:
  update-gitops:
    runs-on: ubuntu-latest
    permissions:
      contents: write # we need write permission to create PRs to repository or writing to repository.

    steps:
      - name: Checkout Actions Repo
        uses: actions/checkout@v4
        with:
          path: actions-repo # action repo we are in right now. 

      - name: Checkout GitOps repository
        uses: actions/checkout@v4
        with:
          repository: abdulshukor/study-app-gitops
          ref: main
          path: study-app-gitops
          ssh-key: ${{ secrets.GITOPS_DEPLOY_KEY }}

      - name: Update Image Tags Dev 
      # Comitting directly to dev environment.
        run: |
          # Define the target kustomization file. For dev environment committing directly. 
          KUSTOMIZATION_FILE="./study-app-gitops/apps/dev/kustomization.yaml"
          SCRIPT_PATH="./actions-repo/scripts/update_kustomize_tag"

          # Call the script with the input tag, kustomization file path, and image name
          echo "Calling update script with tag: ${{ inputs.tag }}, file: $KUSTOMIZATION_FILE, image: ${{ inputs.image }}"
          "$SCRIPT_PATH" "${{ inputs.tag }}" "$KUSTOMIZATION_FILE" "${{ inputs.image }}"

      - uses: EndBug/add-and-commit@v9
        with:
          author_name: GitOps Bot
          author_email: mail@example.com
          cwd: ./study-app-gitops
          # cwd is current working directory where the git operations will be performed.
          message: Update ${{ inputs.image }} deployment with tag "${{ inputs.tag }}"

      - name: Update Image Tags Prod
      # Creating PR for prod environment.
        run: |
          # Define the target kustomization file. We are creating pull request. 
          KUSTOMIZATION_FILE="./devops-study-app-gitops/apps/prod/kustomization.yaml"
          SCRIPT_PATH="./actions-repo/scripts/update_kustomize_tag"

          # Call the script with the input tag, kustomization file path, and image name
          # Explanation log for debugging.
          echo "Calling update script with tag: ${{ inputs.tag }}, file: $KUSTOMIZATION_FILE, image: ${{ inputs.image }}"
          "$SCRIPT_PATH" "${{ inputs.tag }}" "$KUSTOMIZATION_FILE" "${{ inputs.image }}"
          

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.DEVOPS_STUDY_APP_1 }} # Requires a PAT with repo scope for study-app-gitops. Does not work with deply key.
          path: ./study-app-gitops
          commit-message: Update dev deployments to tag ${{ inputs.tag }}
          committer: GitOps Bot <gitops-bot@github.com>
          author: GitOps Bot <gitops-bot@github.com>
          branch: gitops/update-tag-${{ inputs.image }}
          delete-branch: true
          title: "Update prod image tag to ${{ inputs.tag }}"
          body: |
            Update image tag in the dev environment kustomization for ${{ inputs.image }}.
          labels: |
            automated pr
            gitops
